---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Blogger Description Goes Here"
	pubDate={new Date('June 07 2025')}
>
	<p>
		Hi, I'm Billy. Welcome to my blog about programming, books, and whatever else strikes my fancy.
	</p>

	<p>
		All opinions are my own unless they are particularly unhinged in which case it was those monkey's desparately trying to produce Shakespeare but ending up with the incoherent word salad you see here.
	</p>
</Layout>
